body {
    background-color: #23262e;
}
header {
    background-color: #0083cf;
    padding: 8px;
    color: #fff;
}


.nav-link {
    text-align: center;
    font-size: 1.1em;
    color: #fff;
}

#carousel-imagens {
    padding-top: 16px;
    margin-bottom: 24px;
}

#carousel-imagens h1 {
    color: #fff;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.container-cards h1 {
    margin-bottom: 24px; 
    color: #fff;
}

@media screen and (max-width:640px) {

    header span {
        display: none;
    }
}